@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Pretendard-Black.woff2') format('woff2');
}

body {
  font-family: 'Pretendard', sans-serif;
}

p {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
}

.main-section {
  background-image: url('../images/main_banner.png');
  background-size: cover;
  background-position: center;
}